@use "../utils/var";
@use "./resets.scss";
@use "../utils/utils" as *;

body{
    font-family: "Lato", sans-serif;
    color: $text-color;
    background-color: $bg-color;
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
a:focus{
    outline: 3px solid $primary-color;
}